@use "../abstracts";

.course-detail {
    background: var(--background-color);
    padding: 50px 0 40px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(xl) {
            gap: 50px;
        }

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include abstracts.screen(sm) {
            gap: 30px;
        }
    }

    &__heading {
        margin: 24px 0 50px;
    }

    &__tags {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 30px;
        }
    }

    &__tag {
        display: flex;
        align-items: center;

        min-width: 192px;

        gap: 12px;

        padding: 6px 40px 6px 6px;
        border-radius: 35px;
        background: #fff;

        &-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        &-label {
            color: var(--text-desc-color);
            font-weight: 500;
            line-height: 1.5;
        }

        &-name {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
        }

        &-icon-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: var(--primary-color);
            border-radius: 50%;
        }

        &-icon {
            width: 14px;
            height: 20px;
            filter: brightness(0) saturate(100%) invert(8%) sepia(15%)
                saturate(2019%) hue-rotate(196deg) brightness(95%)
                contrast(105%);
        }
    }
}

.course-content {
    padding: 50px 0 100px;
}

.course-tab {
    padding: 30px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 6px 6px 60px -6px rgba(45, 45, 45, 0.08);

    @include abstracts.screen(md) {
        padding: 20px;
    }

    &__content {
        display: none;

        &--active {
            display: block;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 80px;

        @include abstracts.screen(md) {
            flex-wrap: wrap;
            row-gap: 30px;
        }
    }

    &__item {
        padding: 10px 20px;
        font-size: 2rem;

        font-weight: 500;
        line-height: 1.7;
        user-select: none;
        cursor: pointer;

        &--active {
            background: var(--primary-color);
            border-radius: 999px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.course-curriculum {
    padding: 40px 30px 0;

    @include abstracts.screen(md) {
        padding: 20px 30px 0;
    }

    &__list {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 14px;
        }

        &-row {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__name {
        font-size: 1.6rem;
        line-height: 1.42;
    }

    &__label {
        padding: 3px 18px;
        border-radius: 3px;
        border: 1px solid #f3f3f3;
        white-space: nowrap;

        font-size: 1.4rem;
        line-height: 1.66;
    }

    &__preview {
        height: 26px;
        width: 78px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.66;
    }
}

.course-overview {
    margin-top: 50px;

    @include abstracts.screen(md) {
        margin-top: 30px;
    }

    &__ques {
        margin-top: 50px;
    }

    &__heading {
        font-weight: 500;
    }

    &__desc {
        margin-top: 20px;
    }

    &__img-wrap {
        position: relative;
        width: 100%;
        padding-top: 56%;
        margin-top: 30px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__list {
        margin-top: 30px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-top: 20px;
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: var(--secondary-color);
    }

    &__icon {
        display: block;
        width: 10px;
        height: 10px;
        filter: brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(0%)
            hue-rotate(140deg) brightness(106%) contrast(108%);
    }

    &__get {
        font-size: 1.6rem;
    }
}

.course-review {
    padding: 50px 40px 0;

    @include abstracts.screen(md) {
        padding: 10px 10px 0;
    }

    &__top {
        display: flex;
        align-items: center;

        gap: 12px;

        @include abstracts.screen(sm) {
            flex-wrap: wrap;
        }
    }

    &__point {
        font-size: 7.8rem;
        font-weight: 600;
        line-height: 1.48;
    }

    &__num-review {
        font-size: 2rem;
        font-weight: 500;
        color: var(--text-desc-color);
    }

    &__board {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__item {
        display: flex;
        align-items: center;

        gap: 14px;
        margin-top: 14px;
    }

    &__start {
        width: 30px;
        text-align: right;
        color: var(--text-desc-color);
    }

    &__take {
        position: relative;
        flex-grow: 1;

        height: 24px;
        border-radius: 6px;
        background: #f2f2f8;

        &--5,
        &--4,
        &--3,
        &--2,
        &--1 {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 6px;

                height: 24px;
            }
        }

        &--5 {
            &::before {
                background: #76db98;
                width: 75%;
            }
        }

        &--4 {
            &::before {
                background: #b7ea83;
                width: 16%;
            }
        }

        &--3 {
            &::before {
                background: #f6d757;
                width: 5%;
            }
        }

        &--2 {
            &::before {
                background: #fbb851;
                width: 1%;
            }
        }

        &--1 {
            &::before {
                background: #f17a54;
                width: 3%;
            }
        }
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__occupy {
        width: 40px;
    }

    &__number {
        width: 40px;
        text-align: left;
        color: var(--text-desc-color);
    }

    &__bottom {
        margin-top: 50px;
    }
}

.course-resent {
    padding: 30px;

    border-radius: 16px;
    background: #fff;
    box-shadow: 6px 6px 60px -6px rgba(45, 45, 45, 0.08);

    &__heading {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        align-items: flex-start;

        gap: 16px;
        margin-top: 24px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__img-wrap {
        position: relative;
        width: 100%;
        padding-top: 36%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__price {
        display: inline-block;
        color: var(--secondary-color);
        margin-top: 20px;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.course-reply {
    margin-top: 60px;

    &__heading {
        font-weight: 500;
    }

    &__desc {
        margin-top: 20px;
    }

    &__form {
        margin-top: 28px;
    }
}
