@use "../abstracts";

.mentor {
    padding: 50px 0 100px;
    background: var(--background-color);

    @include abstracts.screen(md) {
        padding: 30px 0 50px;
    }

    &__heading {
        text-align: center;
    }

    &__list {
        margin-top: 70px;

        @include abstracts.screen(md) {
            margin-top: 50px;
        }
    }
}
