@use "../abstracts";

// common
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 58px;
    padding: 0 35px;
    border-radius: 8px;

    font-size: 1.8rem;
    font-weight: 700;

    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    &--medium {
        height: 52px;
        font-size: 1.6rem;
    }

    &--small {
        height: 44px;
        padding: 0 25px;
    }

    &--primary {
        background: var(--primary-color);
        color: var(--text-color);
    }

    &--black {
        background: var(--third-color);
        color: #fff;
    }

    &--outline {
        border-radius: 6px;
        border: 1px solid var(--third-color);
    }

    &:hover {
        opacity: 0.8;
    }
}

// log-in
.log-in__btn {
    margin-left: 78px;

    @include abstracts.screen(lg) {
        margin-left: 0;
    }
}

// like button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 8px;
    }
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: var(--secondary-color);
    }

    &__icon {
        width: 12px;
        height: 12px;
        margin-right: 2px;
        filter: brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(0%)
            hue-rotate(140deg) brightness(106%) contrast(108%);
    }
}
