@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskLightItalicRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskLightItalicRegular.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskExtraboldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskExtraboldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk Exbold';
    src: url('FONTSPRINGDEMO-NeurialGroteskExboldItalicRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskExboldItalicRegular.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskBoldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskBoldItalicRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskBoldItalicRegular.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskItalicRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskItalicRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskMediumRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskMediumItalicRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskMediumItalicRegular.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Neurial Grotesk';
    src: url('FONTSPRINGDEMO-NeurialGroteskRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-NeurialGroteskRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

