<div class="container">
    <!-- footer-top -->
    <div class="row gx-6 gx-md-3 gy-lg-4 gy-md-3">
        <div class="col-3 col-lg-6 col-sm-12">
            <h3 class="footer__heading">
                Courses
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">
                        Classroom Courses
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Virtual Classroom Courses
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        E-Learning Courses
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        University Courses
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        University Degree
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-2 col-lg-6 col-sm-12">
            <h3 class="footer__heading">
                Tutelage
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">
                        About us
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Why Circuit
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Testimonials
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Promotions
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Podcasts
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Forum
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-2 col-lg-6 col-sm-12">
            <h3 class="footer__heading">
                Help
            </h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        Our Venues
                    </a>
                </li>
                <li>
                    <a href="#!" class="footer__link">
                        My account
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-5 col-lg-6 col-sm-12">
            <div class="footer__contact">
                <div>
                    <p class="footer__contact-title">
                        Email us
                    </p>
                    <a href="mailto:email@gmail.com" class="footer__contact-type">email@gmail.com</a>
                </div>
                <div>
                    <p class="footer__contact-title">
                        Call us
                    </p>
                    <a href="tel:+000 1234 5678" class="footer__contact-type">000 1234 5678</a>
                </div>
            </div>
            <div class="footer__social">
                <ul class="footer__social-list">
                    <li class="footer__social-item">
                        <a href="#!">
                            <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#!">
                            <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#!">
                            <img src="./assets/icons/twiter.svg" alt="" class="footer__social-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- separate -->
    <div class="separate footer__separate"></div>

    <!-- bottom -->
    <div class="footer__bottom">
        <div class="row gy-lg-3">
            <div class="cols-3 cols-lg-6 cols-md-12">
                <!-- logo -->
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
                    <h1 class="logo__title">
                        tutelage
                    </h1>
                </a>
            </div>

            <div class="cols-3 offset-3 offset-xxl-2 offset-xl-1 cols-lg-6 col-md-12 offset-lg-5 offset-md-0">
                <div class="footer__paymethod">
                    <img src="./assets/img/footer/pay-method.png" alt="" class="footer__paymethod-img">
                </div>
            </div>

            <div class="cols-3 offset-2 offset-xxl-2 offset-xl-1 col-lg-12 offset-lg-0 col-md-12">
                <p class="footer__copy-right">
                    Copyright © 2022 UIHUT all rights reserved.
                </p>
            </div>
        </div>
    </div>
</div>