<!-- banner -->
<div class="banner">
    <ul class="banner__list">
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>
        <li>
            <a href="#!" class="banner__link">
                Get Discount Of 10% On All our Video Courses For a Limited Time
            </a>
        </li>

    </ul>
</div>

<!-- top-bar -->
<div class="container">
    <div class="top-bar">
        <!-- more -->
        <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon">
        </button>

        <!-- logo -->
        <a href="./" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
            <h1 class="logo__title">
                tutelage
            </h1>
        </a>

        <!-- nav-bar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                <img src="../assets/icons/arrow-left.svg" alt="">
            </button>

            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link navbar__link--active">
                        Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Courses
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Mentors
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Blog
                    </a>
                </li>
            </ul>

        </nav>
        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- log-in -->
        <div class="top-bar__act">
            <a href="#!" class="btn btn--small btn--black log-in__btn">
                Log in
            </a>
        </div>
    </div>
</div>